<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SWIMv2_WEB</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>it.swim.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>it.swim.servlet.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfiloServlet</display-name>
    <servlet-name>ProfiloServlet</servlet-name>
    <servlet-class>it.swim.servlet.profilo.ProfiloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfiloServlet</servlet-name>
    <url-pattern>/Profilo/Profilo</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CacheFilter</display-name>
    <filter-name>CacheFilter</filter-name>
    <filter-class>it.swim.util.CacheFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CacheFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>FotoServlet</display-name>
    <servlet-name>FotoServlet</servlet-name>
    <servlet-class>it.swim.servlet.profilo.FotoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FotoServlet</servlet-name>
    <url-pattern>/Profilo/Foto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RicercaServlet</display-name>
    <servlet-name>RicercaServlet</servlet-name>
    <servlet-class>it.swim.servlet.RicercaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RicercaServlet</servlet-name>
    <url-pattern>/Ricerca</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>it.swim.servlet.profilo.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/Profilo/Upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UtenteCollegatoUtil</display-name>
    <servlet-name>UtenteCollegatoUtil</servlet-name>
    <servlet-class>it.swim.util.UtenteCollegatoUtil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UtenteCollegatoUtil</servlet-name>
    <url-pattern>/UtenteCollegatoUtil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrazioneServlet</display-name>
    <servlet-name>RegistrazioneServlet</servlet-name>
    <servlet-class>it.swim.servlet.profilo.RegistrazioneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrazioneServlet</servlet-name>
    <url-pattern>/Registrazione</url-pattern>
  </servlet-mapping>
</web-app>