<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SWIMv2_WEB</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>it.swim.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>it.swim.servlet.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfiloServlet</display-name>
    <servlet-name>ProfiloServlet</servlet-name>
    <servlet-class>it.swim.servlet.profilo.ProfiloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfiloServlet</servlet-name>
    <url-pattern>/profilo/profilo</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CacheFilter</display-name>
    <filter-name>CacheFilter</filter-name>
    <filter-class>it.swim.util.CacheFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CacheFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>FotoServlet</display-name>
    <servlet-name>FotoServlet</servlet-name>
    <servlet-class>it.swim.servlet.profilo.FotoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FotoServlet</servlet-name>
    <url-pattern>/profilo/foto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RicercaServlet</display-name>
    <servlet-name>RicercaServlet</servlet-name>
    <servlet-class>it.swim.servlet.RicercaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RicercaServlet</servlet-name>
    <url-pattern>/ricerca</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>it.swim.servlet.profilo.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/profilo/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UtenteCollegatoUtil</display-name>
    <servlet-name>UtenteCollegatoUtil</servlet-name>
    <servlet-class>it.swim.util.UtenteCollegatoUtil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UtenteCollegatoUtil</servlet-name>
    <url-pattern>/utenteCollegatoUtil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrazioneServlet</display-name>
    <servlet-name>RegistrazioneServlet</servlet-name>
    <servlet-class>it.swim.servlet.RegistrazioneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrazioneServlet</servlet-name>
    <url-pattern>/registrazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>it.swim.servlet.admin.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>it.swim.servlet.admin.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/admin/adminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminPanelServlet</display-name>
    <servlet-name>AdminPanelServlet</servlet-name>
    <servlet-class>it.swim.servlet.admin.AdminPanelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPanelServlet</servlet-name>
    <url-pattern>/admin/adminPanel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DettaglioPropostaServlet</display-name>
    <servlet-name>DettaglioPropostaServlet</servlet-name>
    <servlet-class>it.swim.servlet.admin.DettaglioPropostaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DettaglioPropostaServlet</servlet-name>
    <url-pattern>/admin/dettaglioProposta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AggiuntaAbilitaServlet</display-name>
    <servlet-name>AggiuntaAbilitaServlet</servlet-name>
    <servlet-class>it.swim.servlet.admin.AggiuntaAbilitaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiuntaAbilitaServlet</servlet-name>
    <url-pattern>/admin/aggiuntaAbilita</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RicerchePerUtentiLoggatiServlet</display-name>
    <servlet-name>RicerchePerUtentiLoggatiServlet</servlet-name>
    <servlet-class>it.swim.servlet.profilo.azioni.RicerchePerUtentiLoggatiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RicerchePerUtentiLoggatiServlet</servlet-name>
    <url-pattern>/profilo/azioni/ricerchePerUtentiLoggati</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CollaborazioniServlet</display-name>
    <servlet-name>CollaborazioniServlet</servlet-name>
    <servlet-class>it.swim.servlet.profilo.azioni.CollaborazioniServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CollaborazioniServlet</servlet-name>
    <url-pattern>/profilo/azioni/collaborazioni</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NotificheServlet</display-name>
    <servlet-name>NotificheServlet</servlet-name>
    <servlet-class>it.swim.servlet.profilo.azioni.NotificheServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotificheServlet</servlet-name>
    <url-pattern>/profilo/azioni/notifiche</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProposteAbilitaServlet</display-name>
    <servlet-name>ProposteAbilitaServlet</servlet-name>
    <servlet-class>it.swim.servlet.profilo.azioni.ProposteAbilitaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProposteAbilitaServlet</servlet-name>
    <url-pattern>/profilo/azioni/proposteAbilita</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificaProfiloServlet</display-name>
    <servlet-name>ModificaProfiloServlet</servlet-name>
    <servlet-class>it.swim.servlet.profilo.azioni.ModificaProfiloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificaProfiloServlet</servlet-name>
    <url-pattern>/profilo/azioni/modificaProfilo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RicercaPerVisitatoriServlet</display-name>
    <servlet-name>RicercaPerVisitatoriServlet</servlet-name>
    <servlet-class>it.swim.servlet.RicercaPerVisitatoriServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RicercaPerVisitatoriServlet</servlet-name>
    <url-pattern>/ricercaPerVisitatori</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DettaglioRichiestaAiutoServlet</display-name>
    <servlet-name>DettaglioRichiestaAiutoServlet</servlet-name>
    <servlet-class>it.swim.servlet.profilo.azioni.notifiche.DettaglioRichiestaAiutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DettaglioRichiestaAiutoServlet</servlet-name>
    <url-pattern>/profilo/azioni/dettaglioRichiestaAiuto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfiloAltroUtenteServlet</display-name>
    <servlet-name>ProfiloAltroUtenteServlet</servlet-name>
    <servlet-class>it.swim.servlet.profilo.azioni.notifiche.ProfiloAltroUtenteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfiloAltroUtenteServlet</servlet-name>
    <url-pattern>/profilo/azioni/profiloAltroUtente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DettagliAltroUtenteServlet</display-name>
    <servlet-name>DettagliAltroUtenteServlet</servlet-name>
    <servlet-class>it.swim.servlet.profilo.azioni.notifiche.DettagliAltroUtenteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DettagliAltroUtenteServlet</servlet-name>
    <url-pattern>/profilo/azioni/dettagliAltroUtente</url-pattern>
  </servlet-mapping>
</web-app>