@import url(http://fonts.googleapis.com/css?family=Didact+Gothic);

*{
	padding:0;
	margin:0;
	font-family: 'Didact Gothic', sans-serif;
}

.alignCenter
{
	border: 20px solid; 
	border-color: white;"
	align:center;
}

#container {
	background:url('../img/layout/grigio.png') repeat-y;
	padding-top:15px; /* altezza grigio sopra header da modificare a piacere*/
	width:1032px;
	height:100%;
	margin:auto;
}

header {
	height:70px; /*altezza header da modificare a piacere*/
	width:992px;
	border:0;	
	background:#024ac0 url('../img/layout/up.png') no-repeat;
	color:white;
	padding:20px;
	text-align: center;
}

nav {
	height:50px; /*altezza blu pulsanti da modificare a piacere*/
	margin-top:20px;/*altezza grigio sopra pulsanti da modificare a piacere*/
	padding-top:15px;
	width:1032px;
	color:white;
	background:#024ac0 url(../img/layout/up.png) no-repeat;
	text-align:center;
	
}

nav li {
	display:inline-block;
	vertical-align:top;
	list-style:none;
}

nav li a, nav li a:active, nav li a:visited {
	display:block;
	position:relative;
	padding:3px;
	height:44px;
	width:114px;
	color:white;
	text-decoration:none;
}

nav li a:hover {
	background:#89ade9;
	color:white;
	text-decoration:none;
}

nav li a span.una {
	position:relative;
	top:25%;
}

#space {
	height:35px; /*altezza grigio sotto pulsanti da modificare a piacere*/
	width:1032px;
	color:white;
	background:url(../img/layout/up2.png) bottom no-repeat;
}

#centro  {
	position:relative;
	width:1032px;
	border:0;
	background:url('../img/layout/bgcentro.png') repeat-y;
	color:white;
}

aside {
	position:absolute;
	top:15px;
	left:40px;
	width: 200px;
}

article {
	padding-top:15px;
	margin-left:316px;
	width: 708px;
	padding-bottom:35px;
}

article h1 {
	color:white;
}

article section{
	min-height:400px;/*altezza minima della parte centrale da modificare a piacere*/
	background:white;
	width:680px;
	margin-top:30px;
	color:black;
}

footer {
	height:50px; /*altezza footer da modificare a piacere*/
	margin-top:50px;/* altezza grigio sopra footer da modificare a piacere*/
	width:992px;
	border:0;
	background:#024ac0 url('../img/layout/up.png') no-repeat;
	color:white;
	padding:20px;
}

#formInserimentoParametri td{
	padding: 5px;
}

textarea {
  margin: 5px;
  padding: 0 10px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}

textarea:focus {
  border-color: #7dc9e2;
  outline-color: #dceefc;
  outline-offset: 0;
}

/*Messagio notifica*/
.alertNotification {
   background: #febcbc url('../img/alert/exclamation.png') 15px center no-repeat;
   text-align: left;
   padding: 10px 20px 10px 50px;
   border-top: 2px solid #e95137;
   border-bottom: 2px solid #e95137;
   width:400px;
   
}

.alertNotification p{
	font-size: 14px;
	margin-top: 0px;
	width: auto;
	margin: auto;
	text-align: left;
}

/*Messaggio errore*/
.alert {
   background: #febcbc url('../img/alert/exclamation.png') 15px center no-repeat;
   text-align: left;
   padding: 10px 20px 10px 50px;
   border-top: 2px solid #e95137;
   border-bottom: 2px solid #e95137;
   width:400px;
   
}

.alert p{
	font-size: 14px;
	margin-top: 0px;
	width: auto;
	margin: auto;
	text-align: left;
}

/*Messaggio di conferma*/
.conferma {
   background: #aaeea0 url('../img/alert/exclamation_verde.png') 15px center no-repeat;
   text-align: left;
   padding: 10px 20px 10px 50px;
   border-top: 2px solid #50dc3a;
   border-bottom: 2px solid #50dc3a;
   width:400px;
   
}

.conferma p{
	font-size: 14px;
	margin-top: 0px;
	width: auto;
	margin: auto;
	text-align: left;
}
/*Messaggio generico blu*/
.generico {
   background: #024ac0 url('../img/alert/exclamation_blu.png') 15px center no-repeat;
   text-align: left;
   padding: 10px 20px 10px 50px;
   border-top: 2px solid #89ade9;
   border-bottom: 2px solid #89ade9;
   width:400px;
   
}

.generico p{
	font-size: 14px;
	margin-top: 0px;
	width: auto;
	margin: auto;
	text-align: left;
}

/* CSS per tabelle con righe a 2 colori*/
#tabellaRigheAlterne
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
width:auto;
text-align: left;
border-collapse: collapse;
width: 600px;
}
#tabellaRigheAlterne td, #tabellaRigheAlterne th 
{
font-size:1em;
border:0px solid #0095ff;
padding:3px 7px 2px 7px;
}
#tabellaRigheAlterne th 
{
font-size:1.1em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#4ca6ef;
color:#ffffff;
}
#tabellaRigheAlterne tr.alt td 
{
color:#000000;
background-color:#d1dfef;
}

/* CSS usato per lista feedback*/
#tabellaFeedback
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
width:auto;
text-align: left;
border-collapse: collapse;
width: 600px;
}
#tabellaFeedback td
{
width:150px;
font-size:1em;
border:0px solid #0095ff;
padding:3px 7px 2px 7px;
}

#tabellaFeedback th 
{
font-size:1em;
border:0px solid #0095ff;
padding:3px 7px 2px 7px;
}

#tabellaFeedback th 
{
font-size:1.1em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#4ca6ef;
color:#ffffff;
}
#tabellaFeedback tr.alt td 
{
color:#000000;
background-color:#d1dfef;
}

/* CSS stile pulsanti*/
#button{
	padding: 0 18px;
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  color: #527881;
  text-shadow: 0 1px #e3f1f1;
  background: #cde5ef;
  border: 1px solid;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  
  outline: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: -webkit-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: -moz-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: -o-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: linear-gradient(to bottom, #edf5f8, #cde5ef);
  -webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}

/* CSS riguardante le stelle per feedback*/
#STAR_RATING ul
{
  margin: 0px;
  padding: 0px;
  height: 16px;
  list-style: none;
}
#STAR_RATING li
{
  width: 19px;
  height: 16px;
  display: block;
  float: left;
  background-image: url('../img/feedback/starOff.gif');
  background-repeat: no-repeat;
}
#STAR_RATING li.on
{
  background-image: url('../img/feedback/starOn.gif');
}
#STAR_RATING span.output
{
  padding: 3px;
  color: #339900;
  font-weight: bold;
}

/*Da qui in poi la parte da togliere se non piace il login*/
.containerLogin {
  margin: 80px auto;
  width: 640px;
  z-index: 1;
}

.login {
  position: relative;
  margin: 0 auto;
  padding: 20px 20px 20px;
  width: 310px;
  background: white;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}
.login:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}
.login h1 {
  margin: -20px -20px 21px;
  line-height: 40px;
  font-size: 15px;
  width:auto;
  font-weight: bold;
  color: #555;
  text-align: center;
  text-shadow: 0 1px white;
  background: #f3f3f3;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
  background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
  background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
  -webkit-box-shadow: 0 1px whitesmoke;
  box-shadow: 0 1px whitesmoke;
}
.login p {
  margin: 20px 0 0;
}
.login p:first-child {
  margin-top: 0;
}
.login input[type=text], .login input[type=password] {
  width: 278px;
}
.login p.remember_me {
  float: left;
  line-height: 31px;
}
.login p.remember_me label {
  font-size: 12px;
  color: #777;
  cursor: pointer;
}
.login p.remember_me input {
  position: relative;
  bottom: 1px;
  margin-right: 4px;
  vertical-align: middle;
}
.login p.submit {
  text-align: right;
}

.login-help {
  margin: 20px 0;
  font-size: 11px;
  color: white;
  text-align: center;
  text-shadow: 0 1px #2a85a1;
}
.login-help a {
  color: #cce7fa;
  text-decoration: none;
}
.login-help a:hover {
  text-decoration: underline;
}

:-moz-placeholder {
  color: #c9c9c9 !important;
  font-size: 13px;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
}

input {
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  font-size: 14px;
}

input[type=text], input[type=password] {
  margin: 5px;
  padding: 0 10px;
  width: 200px;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}
input[type=text]:focus, input[type=password]:focus {
  border-color: #7dc9e2;
  outline-color: #dceefc;
  outline-offset: 0;
}

input[type=submit] {
  padding: 0 18px;
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  color: #527881;
  text-shadow: 0 1px #e3f1f1;
  background: #cde5ef;
  border: 1px solid;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  
  outline: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: -webkit-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: -moz-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: -o-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: linear-gradient(to bottom, #edf5f8, #cde5ef);
  -webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}
input[type=submit]:active {
  background: #cde5ef;
  border-color: #9eb9c2 #b3c0c8 #b4ccce;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.lt-ie9 input[type=text], .lt-ie9 input[type=password] {
  line-height: 34px;
}

